@model IEnumerable<ST_Invoicing.Models.ST_InStock>

@{
    ViewBag.Title = "南臺灣-庫存列表";
}

<h2>原物料庫存列表</h2>


<table class="table">
    <tr>      
        <th>
            @Html.DisplayNameFor(model => model.material_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>            
       <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>    
        <td>
            @Html.DisplayFor(modelItem => item.material_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>     
        <td>
            @Html.ActionLink("入庫", "Edit", new { id=item.serno })          
        </td>
    </tr>
}

</table>
