@model IEnumerable<ST_Invoicing.Models.ST_Purchase>

@{
    ViewBag.Title = "南臺灣-採購歷史列表";

    var queryItem = ViewData["query_Item"] as IEnumerable<string>;

    var selectQuery = new SelectList(queryItem);
}

<script>
    $(document).ready(function () {
        $("#ST_Purchase").addClass("active");   
    });
</script>

<h2>採購歷史列表</h2>

@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="form-group">
            <div class="col-xs-6 col-md-4">
                <h5> 查詢月份:</h5>
            </div>
            <div class="col-xs-6 col-md-6">
                @Html.DropDownList("selMonth", selectQuery, "---查看月份---", new { @class = "btn btn-info dropdown-toggle" })              
            </div>
            <div class="col-xs-6 col-md-2">
                <input type="submit" value="查詢" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.purchase_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchase_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>

            <td>
                <font color=@item.font_Color>
                    @Html.DisplayFor(modelItem => item.display_Date)
                </font>
            </td>
            <td>
                <font color=@item.font_Color>
                    @Html.DisplayFor(modelItem => item.item_name)
                </font>
            </td>
            <td>
                <font color=@item.font_Color>
                    @Html.DisplayFor(modelItem => item.purchase_price)
                </font>
            </td>
            <td>
                <font color=@item.font_Color>
                    @Html.DisplayFor(modelItem => item.vendor_name)
                </font>
            </td>
            <td>
                <font color=@item.font_Color>
                    @Html.DisplayFor(modelItem => item.emp_name)
                </font>
            </td>
            <td>
                <font color=@item.font_Color>
                    @Html.DisplayFor(modelItem => item.remark)
                </font>
            </td>     
        </tr>

    }

</table>




