@model ST_Invoicing.Models.ST_Material

@{
    ViewBag.Title = "南臺灣-查看原物料";
}

<h2>查看原物料</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.item_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.utem_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utem_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reamrk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reamrk)
        </dd
     
    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.serno }) |
    @Html.ActionLink("返回原物料列表", "Index")
</p>
