@model ST_Invoicing.Models.ST_Collar

@{
    ViewBag.Title = "南臺灣-原物料提領";
}

@{

    var items = ViewData["material_Items"] as IEnumerable<string>;

    var selectUnit = new SelectList(items);
}

<script>
    $(document).ready(function () {
        $("#ST_Collar").addClass("active");
    });
</script>



<h2>原物料提領</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.collar_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.collar_date, new { @class = "form-control date-picker" })
                @Html.ValidationMessageFor(model => model.collar_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.material_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.material_name, selectUnit, "---請選擇原物料---", new { @class = "form-control" })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.collar_count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.collar_count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.collar_count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <input type="button" class="btn btn-info" value="返回提領列表" onclick="location.href='@Url.Action("Index", "ST_Collar")'" />
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(function () {
            $('.date-picker').datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        })
    </script>
}
