@model IEnumerable<ST_Invoicing.Models.ST_Collar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.collar_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.material_guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.collar_count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.del_yn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_guid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.guid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.collar_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.material_guid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.collar_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.del_yn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_guid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.serno }) |
            @Html.ActionLink("Details", "Details", new { id=item.serno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.serno })
        </td>
    </tr>
}

</table>
