@model ST_Invoicing.Models.ST_Surplus_Month

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ST_Surplus_Month</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rec_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rec_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.work_days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.work_days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expenditure_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expenditure_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turnover_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turnover_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surplus_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surplus_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rice_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rice_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soup_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soup_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fish_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fish_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month_700)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month_700)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month_850)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month_850)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month_meal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month_meal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month_box)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month_box)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month_inner_xl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month_inner_xl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month_inner_l)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month_inner_l)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month_inner_s)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month_inner_s)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplie_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplie_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.other_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.other_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personal_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personal_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.del_yn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.del_yn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
