@model IEnumerable<ST_Invoicing.Models.ST_Emp>

@{
    ViewBag.Title = "南臺灣-員工列表";
}

<script>
    $(document).ready(function () {
        $("#ST_Emp").addClass("active");
    });
</script>

<h2>員工列表</h2>

<p>
    <input type="button" class="btn btn-primary" value="新增員工" onclick="location.href='@Url.Action("Create", "ST_Emp")'" />
</p>
<table class="table">
    <tr>     
        <th>
            @Html.DisplayNameFor(model => model.emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_identity_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.in_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.out_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>      
        <td>
            @Html.DisplayFor(modelItem => item.emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_identity_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.in_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.out_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>      
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.serno }) |
            @Html.ActionLink("查看", "Details", new { id=item.serno }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.serno })
        </td>
    </tr>
}

</table>
