

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <meta name="description" content="">
    <meta name="author" content="">
    <title>南臺灣土魠魚羹-進銷存管理</title>

    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script src=" ~/Scripts/jquery.validate.unobtrusive.js"></script>
    
    <!-- Morris Charts JavaScript -->
    <script src="~/Scripts/plugins/morris/raphael.min.js"></script>
    <script src="~/Scripts/plugins/morris/morris.min.js"></script>
    <script src="~/Scripts/plugins/morris/morris.min.js"></script>
    <script src="~/Scripts/plugins/morris/morris-data.js"></script>
</head>
<body>


    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">南臺灣土魠魚羹-進銷存管理</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#demo2"><i class="fa fa-user"></i>@ViewData["user"] <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo2" class="collapse">
                        <li>
                            <a href="/ST_Emp/Details/@Session["id"]"><i class="fa fa-fw fa-user"></i>個人資料</a>
                        </li>
                        <li>
                            <a href="/ST_Emp/ChangePassword"><i class="fa fa-fw fa-envelope"></i>修改密碼</a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a href="/Home/Logout"><i class="fa fa-fw fa-power-off"></i>登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li id="Home">
                        <a href="~/Home/Index"><i class="fa fa-fw fa-dashboard"></i>首頁</a>
                    </li>
                    <li id="ST_Emp">
                        <a href="~/ST_Emp/Index"><i class="fa fa-fw fa-table"></i>員工資料</a>
                    </li>
                    <li id="ST_Vendor">
                        <a href="~/ST_Vendor/Index"><i class="fa fa-fw fa-table"></i>廠商</a>
                    </li>
                    <li id="ST_Material">
                        <a href="~/ST_Material/Index"><i class="fa fa-fw fa-table"></i>原物料</a>
                    </li>
                    <li id="ST_InStock">
                        <a href="~/ST_InStock/Index"><i class="fa fa-fw fa-table"></i>庫存</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#ST_Purchase"><i class="fa fa-fw fa-arrows-v"></i>採購<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="ST_Purchase" class="collapse">
                            <li>
                                <a href="~/ST_Purchase/Index">本月紀錄</a>
                            </li>
                            <li>
                                <a href="~/ST_Purchase/HistroryIndex">歷史紀錄</a>
                            </li>
                            <li>
                                <a href="~/ST_Purchase/Unsettlement">未結算清單</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#ST_SurplusDay"><i class="fa fa-fw fa-arrows-v"></i>日帳表<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="ST_SurplusDay" class="collapse">
                            <li>
                                <a href="~/ST_SurplusDay/Index">本月紀錄</a>
                            </li>
                            <li>
                                <a href="~/ST_SurplusDay/HistroryIndex">歷史紀錄</a>
                            </li>
                            <li>
                                <a href="~/ST_SurplusDay/Unsettlement">未結算清單</a>
                            </li>
                        </ul>
                    </li>                          
                    
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>                 
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div id="page-wrapper">
                    <div class="container-fluid">




                        <!-- /.row -->
                        @RenderBody()
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /#page-wrapper -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->



</body>
</html>